img.gat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center ;
}

body {
    background-color: #1a5dba;
}

h1 {
    color: rgb(204, 150, 12);
}

.synopsis{
    width: 400px;
}

.poster img{
    width: 400px;
    height: 450px;
}



