img.gat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

header {
    text-align: center ;
}

body {
    background-color: #3f2f8f;
}

h1 {
    color: rgb(242, 188, 52);
    font-size: 2em;
}

footer {
    text-align: center;
}

.synopsis{
    width: 400px;
}

.poster img{
    width: 400px;
    height: 450px;
}



